<!DOCTYPE html>
<html lang="pt_BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista dos Orfanatos | Happy</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/animations.css">
    <link rel="stylesheet" href="/css/orphanangeList.css">
    
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="icon" href="/images/logo-icon.png">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap" rel="stylesheet">
</head>

<body>
    <div id="page-orphanange">
        <aside class="animate-right sidebar">
            <img src="/images/map-marker.svg" alt="happy">

            <footer>
                <button onclick="history.back()">
                    <img src="/images/arrow-back.svg" alt="Voltar">
                </button>
            </footer>
        </aside>

        <main class="animate-appear with-sidebar">
            <div class="orphanange-details">
                    <div class="orphanange-details-content">
                        <h1>Lar das Meninas</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis reiciendis ipsa pariatur aliquam voluptatibus atque totam quas, harum quibusdam vel in necessitatibus beatae, quis quia deserunt eaque? Facere, officiis veritatis?</p>
                    </div>

                    <div class="orphanange-details-content">
                        <h1>Lar dos Meninos</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis reiciendis ipsa pariatur aliquam voluptatibus atque totam quas, harum quibusdam vel in necessitatibus beatae, quis quia deserunt eaque? Facere, officiis veritatis?</p>
                    </div>

                    <div class="orphanange-details-content">
                        <h1>Centro de apoio ao menor</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis reiciendis ipsa pariatur aliquam voluptatibus atque totam quas, harum quibusdam vel in necessitatibus beatae, quis quia deserunt eaque? Facere, officiis veritatis?</p>
                    </div>

                    <div class="orphanange-details-content">
                        <h1>Outro orfanato</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis reiciendis ipsa pariatur aliquam voluptatibus atque totam quas, harum quibusdam vel in necessitatibus beatae, quis quia deserunt eaque? Facere, officiis veritatis?</p>
                    </div>

                    <div class="orphanange-details-content">
                        <h1>Teste</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis reiciendis ipsa pariatur aliquam voluptatibus atque totam quas, harum quibusdam vel in necessitatibus beatae, quis quia deserunt eaque? Facere, officiis veritatis?</p>
                    </div>
            </div>
        </main>
    </div>
</body>
</html>